* {
  max-width: 100%;
  background-color: #1d1d1d;
  color: #ff6a13;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
}
button {
  font-size: 2rem;
}
p {
  font-size: 2rem;
}
a {
  font-size: 2rem;
  text-decoration: none;
}
ul {
  font-size: 2.5rem;
}
header {
  width: 100%;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: none;
}
header nav .dropdown {
  position: relative;
  width: 10%;
}
header nav .dropdown:hover .dropdown-content {
  display: block;
}
header nav .dropdown button {
  padding: 10%;
  width: 100%;
  border: 1px solid white;
}
header nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  width: 200%;
  border: 1px solid white;
  z-index: 1;
}
header nav .dropdown .dropdown-content a {
  width: 100%;
  padding: 5%;
  display: block;
  border: 1px solid white;
  transition: 1s;
}
header nav .dropdown .dropdown-content a:hover {
  padding: 10%;
  font-weight: bolder;
  background-color: darkslategray;
  transition: 1s;
}
header .banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: none;
  padding: 1%;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
header .banner h1 {
  margin-right: 1%;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  width: 100%;
  padding: 5%;
}
.content .tables {
  border: 5px solid white;
  margin: 1%;
}
.content .tables tr {
  border: 1px solid white;
}
.content .tables tr:hover {
  background-color: dimgray;
}
.content .tables th {
  font-size: 2rem;
  border: 1px solid white;
  padding: 1%;
  background-color: darkslategray;
  position: sticky;
  top: 0;
  z-index: 0;
}
.content .tables th h2 {
  background-color: darkslategray;
}
.content .tables td {
  border: 1px solid white;
  font-size: 2rem;
  padding: 1%;
  text-align: center;
}
.content .tables td h4 {
  text-decoration: underline;
  text-align: left;
}
.content .tables td p {
  margin: 1%;
  text-align: left;
}
.content .weaponAttributes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 1%;
  border: 1px solid white;
}
.content .weaponAttributes h2 {
  font-size: 4rem;
  text-decoration: underline;
  margin-bottom: 3%;
}
.content .named td {
  width: 25%;
}
.content .talents td {
  width: 10%;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: none;
  width: 100%;
  padding: 1%;
  border-top: 1px solid white;
}
.fixed {
  position: fixed;
  bottom: 0;
}
