/* GENERAL */
* {
    max-width: 100%;
    margin: 0 auto;
    /* border: 1px solid white; */
    color: orange;
}

body {
    background-color: black;
}

img {
    border-bottom: 1px solid white;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
    border-top: 1px solid white;
}

footer nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
}


