.content {
  .flex(space-around, @flow: wrap);
  width: 100%;
  padding: 5%;

  .tables {
    border: 5px solid white;
    margin: 1%;


    tr {
      border: 1px solid white;
    }

    tr {
      &:hover {
        background-color: dimgray;
      }
    }

    th {
      font-size: 2rem;
      border: 1px solid white;
      padding: 1%;
      background-color: darkslategray;
      position: sticky;
      top: 0;
      z-index: 0;

      h2 {
        background-color: darkslategray;
        padding: 1%;
      } //closes h2
    } //closes th
    td {
      border: 1px solid white;
      font-size: 2rem;
      padding: 1%;
      text-align: center;

      h4 {
        text-decoration: underline;
        text-align: left;
      }
      p {
        margin: 1%;
        text-align: left;
      } //closes p
    } //closes td
  } //closes tables

  .weaponAttributes {
    .flex(@flow: column);
    padding: 1%;
    border: 1px solid white;

    h2 {
      font-size: 4rem;
      text-decoration: underline;
      margin-bottom: 3%;
    } //closes h2
  } // closes weapon attributes

  .named {
    td {
      width: 25%;
    }
  }

  .talents {
    td {
      width: 10%;
    }
  }

  .attributes {
    td {
      width: 50%;
    }
  }
} //closes content
