* {
  max-width: 100%;
  color: @text;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: darken(@main, 3%);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

button {
  font-size: 2rem;
  background-color: darken(@main, 3%);
}

p {
  font-size: 2rem;
}

a {
  font-size: 2rem;
  text-decoration: none;
  background-color: darken(@main, 3%);
}

ul {
  font-size: 2.5rem;
}

li {
  list-style: none;
}
///////////////////////////HEADER/////////////////////


//////////////////////////CONTENT///////////////////////
.content {
  max-height: 100%;
  width: 100%;
  .flex();
  background-color: darken(@main, 3%);
}
//////////TABLES///////////
.tables {
  border: 5px solid white;
  border-radius: 10px;
  margin: 1%;
  background-color: @main;

  tr {
    border: 1px solid white;
  }

  tr {
    &:hover {
      background-color: lighten(@main, 10%);
    }
  }

  th {
    font-size: 2rem;
    border: 1px solid white;
    padding: 1%;
    background-color: darkslategray;
    z-index: 0;

    h2 {
        background-color: @hover;
    }
  } //closes th
  td {
    border: 1px solid white;
    font-size: 2rem;
    padding: 1%;
    text-align: center;

    h4 {
      text-decoration: underline;
      text-align: left;
    }
    p {
      margin: 1%;
      text-align: left;
    } //closes p
  } //closes td
} //closes tables
