// ////////////// COLORS /////////////////

@main: #1d1d1d;
@accent: black;
@text: #ff6a13;
@hover: darkslategray;
@border: white;


/////////////// MEDIA QUERIES //////////////
//Destop
@desktop: ~"(max-width: 1080px)";

//Tablet
@tablet: ~"(max-width: 800px)";

//phone
@phone: ~"(max-width: 500px)";