// ////////////// COLORS /////////////////

@main: #1d1d1d;
@accent: black;
@text: #ff6a13;
@hover: darkslategray;
@border: white;


/////////////// MEDIA QUERIES //////////////

@1600: ~"(max-width: 1600px)";