.weaponAttributes {
  .flex(space-around);
  padding-top: 4%;

  div {
    border: 1px solid @border;
    border-radius: 10px;
    padding: 1%;
    .flex(@flow: column);

    h2 {
      text-decoration: underline;
      margin-bottom: 3%;
    } //closes h2
    li {
      list-style: square;
      list-style-position: inside;
    }
  }
  
} // closes weapon attributes
