.weaponAttributes {
  .flex(@flow: column);
  padding: 1%;
  border: 1px solid white;
  border-radius: 10px;

  h2 {
    font-size: 4rem;
    text-decoration: underline;
    margin-bottom: 3%;
  } //closes h2
} // closes weapon attributes
